{% extends "layout.html" %}
{% block content %}
    {% for sc in scorecards %}
        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{{ url_for('scorecard', id = sc.id) }}">Model ID: {{ sc.id }}</a>
                <small class="text-muted" type="date" data-date-format="dd-mm-yyyy">PDV Date: {{ sc.pdv_date.strftime('%b %d, %Y')}}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('scorecard', id = sc.id) }}">{{ sc.product }} - {{ sc.type }} Scorecard</a></h2>
            <p class="article-content">Model Owner: {{ sc.owner }}</p>
            <p class="article-content">Discriminatory Rating: {{ sc.discriminatory_rating }}</p>
            <p class="article-content">PSI Rating: {{ sc.psi_rating }}</p>
            <p class="article-content">Final Rating: {{ sc.final_rating }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content %}