{% extends "layout.html" %}
{% block content %}
        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" >Model ID: {{ sc.id }}</a>
                <small class="text-muted" type="date" data-date-format="dd-mm-yyyy">PDV Date: {{ sc.pdv_date.strftime('%b %d, %Y')}}</small>
            </div>
            <h3><a class="article-title" href="{{ url_for('scorecard', id = sc.id) }}">{{ sc.product }} - {{ sc.type }} Scorecard</a></h3>
            <p class="article-content">Model Owner: {{ sc.owner }}</p>
            <p class="article-content">Discriminatory Rating: {{ sc.discriminatory_rating }}</p>
            <p class="article-content">PSI Rating: {{ sc.psi_rating }}</p>
            <p class="article-content">Final Rating: {{ sc.final_rating }}</p>
            </div>
        </article>
        <div class="modal-header">
            <h6><a class="article-title" >Full Report</a></h6>
        </div>
        <article class="media content-section">
            <div>
                <p class="article-content">{{ sc.final_rating_comments }}</p>
            </div>
        </article>
        <div class="mr-2">
            <a class="btn btn-outline-info" href="{{ url_for('download_pdv', id = sc.id) }}">Download PDV Report</a>
            <br><small type="date" data-date-format="dd-mm-yyyy">PDV Report Date: {{ sc.pdv_date.strftime('%b %d, %Y')}}</small>
        </div>
        <br>
        <br>
        {% if monitorings %}
            <article class="media content-section">
                <div class="media-body">
                <h4><a class="article-title">Monitorings History</a></h4>
                </div>
            </article>
            {% for mon in monitorings %}
                <article class="media content-section">
                    <div class="media-body">
                    <h5><a class="article-title">Monitorings Date: {{ mon.monitoring_date.strftime('%b %d, %Y') }}</a></h5>
                    <p class="article-content">Discriminatory Rating: {{ mon.discriminatory_rating }}</p>
                    <p class="article-content">PSI Rating: {{ mon.psi_rating }}</p>
                    <p class="article-content">Final Rating: {{ mon.final_rating }}</p>
                    <p><a type="button" class="btn btn-info" href="{{ url_for('download_monitoring', id = mon.monitoring_id) }}">Download full report</a></p>
                    </div>
                </article>
            {% endfor %}
            <br>
            <small class="text-muted">Click below to add monitoring report for this scorecard.</small>
        {% else %}
            <h5>No monitorings report pertaining to this scorecard submitted yet</h5>
            <br>
            <small class="text-muted">Click below to add monitoring report for this scorecard.</small>
        {% endif %}
        <br>
        <p>
        <a class="btn btn-outline-info" href="{{ url_for('monitoring_submit', scorecard_id = sc.id) }}">Add Monitoring Report</a>
        </p>
{% endblock content %}